<div class="container">
  {% for job in jobs %}
  <div class="row" style="margin-bottom: 16px; align-items: center;">
    <div class="col">
      <div>
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
          {{ job['title'] }}
        </h4>
        <div>
          <b>Location:</b> {{ job['location'] }}
        </div>
        {% if 'salary' in job %}
        <div>
          <b>Salary:</b> {{ job['salary'] }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col text-end">
      <button class="btn btn-secondary">Apply</button>
    </div>
  </div>
  {% endfor %}
</div>